@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply overflow-x-hidden
}

.bg-hero-image {
    background-image: url('./assets/hero.png');
}

.bg-newsletter {
    background-image: url('./assets/newsletter-banner.png');
}

.cart-banner {
    background-image: url('./assets/cart-banner.png');
}

.container {
    @apply max-w-screen-xl mx-auto px-4 md:px-8
}

.btn-brand {
    @apply text-purple-700 border-2 border-purple-700 rounded-3xl font-bold hover:bg-purple-700 hover:text-white text-base md:text-lg transition-all duration-300 ease-linear inline text-center px-6 py-2.5 focus:ring-2 ring-purple-400
}

.nav-items a.active {
    @apply text-purple-700 font-bold transition-all ease-out duration-300
}

/* Loader CSS  */
.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: #fff;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #7E22CE;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@media (max-width: 600px) {
    .loader {
        width: 48px;
        height: 48px;
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}